<h1>プロフィール</h1>

<h3>ユーザー名</h3>
<%= @user.name %>
<h3>メールアドレス</h3>
<%= @user.email %>
<h3>プロフィール</h3>
<%= @user.profile %>
<h3>プロフィール</h3>
<%= @user.profile %>
<h3>投稿したもの</h3>
<% @user.posts.each do |p| %>
<%= p.title %>
<%= p.body %>
<% end %>
<p>編集</p>
<p>ログアウト</p>
